* {
margin: 0;
border: border-box;
}


header {
background-color: steelblue;
height: 160px;
width: 90vw;
border-radius: 5px;
}

h1 {
color: white;
font-size: 40px;
font-family: "monospace",sans-serif;
text-align: center;
margin-top: 30px;
position: relative;
top: 20px;
}

body {
background-color: white;
margin-left: 0px;
}

p {
color: white;
font-size: 17px;
font-family: sans-serif;
text-align: center;
position: relative;
top: 20px;
}


h2 {
color: black;
font-size: 30px;
font-family: "monospace",sans-serif;
margin-left: 15px;
margin-right: 15px;
position: relative;
}

ul li {
padding: 5px;
font-size: 17px;
font-family: "roboto",sans-serif;
list-style-type: square;
text-align: left;
margin-left: 25px;
}

.input-fields input {
padding: 12px;
width: 80%;
font-size: 18px;
font-family: sans-serif;
border: 2px solid #999;
border-radius: 2px;
outline: none;
}

#dropdown {
font-size: 18px;
font-family: sans-serif;
padding: 12px;
background-color: white;
width: 80%;
border: 2px solid #999;
border-radius: 2px;
margin-left:  -24px;
}

.comments-box textarea {
padding: 23px;
width: 80%;
font-size: 18px;
font-family: sans-serif;
text-align: left;
border: 2px solid #999;
border-radius: 2px;
}


.button {
margin: 25px;
margin-left: -180px;
}


#submit {
height: 45px;
width: 100px;
color: white;
font-size: 16px;
font-family: "Roboto",sans-serif;
background-color: skyblue;
border: 1px solid black;
outline: none;
border-radius: 3px;
}

 #dropdown:hover, .input-fields input:hover, textarea:hover {
border: 1px solid #000;
}